{% extends "layout.html" %}
{% block content %}
    <div class="row"> 
        <div class="column">
            <img src="/static/photos/IMG_2012.JPG" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-04.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-08.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-11.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-14.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-17.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-23.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/static/photos/photo_2021-04-18_19-10-26.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-34.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-38.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-41.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-44.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-48.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-51.jpg" style="width:100%">
        </div>  
        <div class="column">
            <img src="/static/photos/photo_2021-04-18_19-10-53.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-57.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-41.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-44.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-14.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-17.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-23.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/static/photos/photo_2021-04-18_19-10-51.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-48.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-44.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-38.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-26.jpg" style="width:100%">
            <img src="/static/photos/photo_2021-04-18_19-10-34.jpg" style="width:100%">
            <img src="/static/photos/IMG_2012.JPG" style="width:100%">
        </div>
    </div>>
{% endblock content %}